### ignore intermediate file
# latex
**/*.dvi
**/*.aux
**/*.fls
**/*.log
**/*.fdb_latexmk

# index
**/*.ilg
**/*.ind
**/*.idx
**/*.toc

# hyperref
**/*.out

# bibtex
**/*.bbl
**/*.blg

# dist
**/*.pdf
